.section_principale.mt-5 {
    margin-top: unset;
}

.admin_container {
    padding: 3em;
}

.admin_sidebar {
    min-width: 200px;
    flex-basis: 20%;
    padding: 2em 1em;
    box-shadow: 0 4px 4px -2px rgb(0 0 0 / 50%);
}

.admin_container {
    width: 100%;
    padding: 0 0;
}

.admin_contenu_page.grid {
    padding: unset;
}

/* =====================================            ===================================              ========================================= */

.admin_carte {
    display: flex;
    width: 80%;
    position: relative;
    text-decoration: none;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

picture.admin_carte_img {
    height: 10ch;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    overflow: hidden;
    object-fit: cover;
    background-size: cover;
}

.admin_carte_img img {
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.admin_carte-titre {
    text-align: center;
    position: absolute;
    z-index: 20;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    padding: 2em 0.5em;
}

.admin_carte-titre h3 {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    margin: unset;
}

hr {
    width: 50px;
    height: 3px;
    margin: 10px auto;
    border: 0;
    background: var(--bg-accent-admin);
}

.intro {
    margin: 0 auto;
    color: #ffffff;
    font-family: var(--ff-sans-serif);
    font-size: 13px;
    font-style: italic;
    line-height: 18px;
}

/* =====================================            ===================================              ========================================= */

.admin_tab {
    width: 100%;
    color: white;
    overflow: hidden;
}

.admin_tab .admin_tab-label {
    padding: 10px 3px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    transition-duration: 0.3s;
    border-top: 1px solid;
}

.admin_tab .admin_tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all .35s;
}

.admin_tab .admin_tab-content {
    padding: 1em;
    color: var(--bg-sombre);
    background: #ffffff;
    transition: all .2s;
    left: 0;
    display: none;
    margin-top: 7px;
    transition-duration: 0.3s;
}

.admin_tab .tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: var(--bg-sombre);
    cursor: pointer;
    transition-duration: 0.3s;
}

.admin_tab .tab-close:hover {
    background: var(--bg-primaire);
    transition-duration: 0.3s;
}

.menu-input {
    border: none;
    box-shadow: none;
    transition-duration: 0.3s;
}

.menu-input:checked+.admin_tab-label {
    background: var(--bg-sombre);
    color: #ffffff;
}

.menu-input:checked+.admin_tab-label::after {
    transform: rotate(90deg);
}

.menu-input:checked~.admin_tab-content {
    padding: 1em;
    width: 100%;
    z-index: 1;
    left: 0;
    display: block;
    box-shadow: 0 4px 4px -2px rgb(0 0 0 / 50%);
    transition-duration: 0.3s;
    border-bottom: 1px solid;
}

.admin__main-content {
    padding: 2em 1em;
}

.admin_content-title h2 {
    margin: unset;
}

/* ------------------------=============================--------------------------===========================------------------------------========================== */

.admin__tabs {
    border: 1px solid #cccccc;
    display: flex;
}

.admin__tabs__sidebar {
    width: 125px;
    flex-shrink: 0;
}

.tabs__button {
    border: none;
    width: 100%;
    color: black;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.tabs__button:active {
    background: var(--bg-primaire-autre);
}

.tabs__button--active {
    background: var(--bg-sombre);
    font-weight: bold;
    border-right: 2px solid var(--bg-accent-admin);
}

.admin__tabs__content {
    padding: 10px;
    font-size: 0.8rem;
    z-index: 0;
}

.admin__tabs__content--active {
    display: block;
}

.admin__tabs__content> :first-child {
    margin-top: 0;

}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    width: 150px;
    color: #ffffff;
    background: var(--bg-sombre-admin);
}

.page-header nav {
    display: flex;
    flex-direction: column;
}

.page-header .logo {
    display: block;
    margin: 0 15px;
}

#admin_menuToggle {
    width: 30px;
    margin-right: 10px;
    display: block;
    position: relative;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    z-index: 1;
}

.admin #admin_menuToggle {
    top: unset;
    left: unset;
}

#admin_menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

#admin_menuToggle i:hover {
    color: var(--bg-primaire);
}

#admin_menuToggle i {

    display: block;
    top: 5px;
    left: 8px;

    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
    position: absolute;

    z-index: 1;

    transition: all 0.3s ease;
}

.page-header .toggle-mob-menu {
    display: none;
    margin-left: 5px;
    padding: 4px;
    background: var(--page-content-blockColor);
    border-radius: var(--border-radius);
}

.page-header .admin-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 35px;
    transform: none;
}

.page-header .admin-menu li:nth-last-child(2) {
    margin-bottom: 35px;
}

.page-header .admin-menu li:last-child {
    margin-top: auto;
    margin-bottom: 20px;
}

.page-header .admin-menu li>* {
    width: 100%;
    /* padding: 12px 15px; */
}

.page-header .admin-menu .switcher {
    display: inline-block;
    width: auto;
}

.page-header .admin-menu .menu-heading h3 {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 12px;
    margin-top: 12px;
    color: var(--page-header-headingColor);
}

.page-header .admin-menu a, .page-header .admin-menu span, .page-header .admin-menu button {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.page-header .admin-menu a:hover, .page-header .admin-menu a:focus, .page-header .admin-menu button:hover, .page-header .admin-menu button:focus {
    background: var(--bg-sombre);
    color: var(--bg-claire);
    outline: none;
}

.page-content {
    position: relative;
    left: var(--page-header-width);
    width: calc(100% - var(--page-header-width));
    min-height: 100vh;
    padding: 30px;
    color: var(--page-content-txtColor);
    background: var(--page-content-bgColor);
}

.toggle__input {
    display: block;
    /* left: 30px; */
    position: relative;
    top: 10px;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    z-index: 1;
}

.admin #admin_menuToggle1 {
    top: unset;
    left: unset;
}

#admin_menuToggle1 a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

.toggle__input {
    display: block;
    width: 24px;
    height: 30px;
    position: relative;
    /* top: 2px; */
    /* left: -8px; */
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#admin_menuToggle1~i {
    display: block;
    width: 33px;
    height: 20px;
    font-size: 18px;
    margin-bottom: 5px;
    position: absolute;
    margin-top: 10px;
    z-index: 1;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#admin_menu1 {
    transform-origin: 0% 0%;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}



.admin__tabs__sidebar {
    width: 150px;
    position: fixed;
    left: 0px;

    margin-top: 0;
    z-index: 2;
    background: var(--bg-sombre-admin);

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: all 0.2s;
    height: 100%;
    padding: 1em;
}

.table_admin td {
    font-size: 12px;
}

.table_admin .nom_bouteille {
    font-size: inherit;
}

.u__profile_img_admin i {
    cursor: pointer;
}

/* MQ RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (min-width: 426px) {

    .page-header .admin-menu {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-top: 38px;
        transform: none;
    }

    #admin_menuToggle {
        display: none;
    }

    .admin-menu.admin__tabs__sidebar {
        visibility: unset;
        opacity: unset;
    }

    .admin__profile {
        display: flex;
        color: var(--bg-primaire-autre);
        right: 0;

        display: flex;
        justify-content: flex-end;
        gap: 20px;
        align-content: center;
        align-items: center;
        padding: 2em;
        padding-bottom: 0.6em;
    }

    #admin_menuToggle1:hover i {
        color: #e7e6e6;
    }

    .vino__id-hover {
        display: none;
    }

    .btn_anule_recherche {
        align-self: self-start;

        margin-left: 20px;
        right: 10px;
        border-radius: 2px;
        padding: 0.5em;
        top: 12.16em;
        right: 2em;
    }

    .admin__tabs__content--active {
        display: block;
        min-width: 500px;
    }

}

@media screen and (max-width: 426px) {
    .btn_anule_recherche {
        align-self: self-start;
        position: absolute;
        margin-left: 20px;
        right: 10px;
        border-radius: 3px;
        padding: 0.3em;
        top: 12.16em;
        right: 3.6em;
    }

    .small-txt {
        font-size: 10px;
    }
}



@media screen and (max-width: 767px) {
    .page-header, .page-content {
        position: static;
        width: 100%;
    }

    .sideBar-ferme {
        transform: translate(-100%, 0) !important;
        z-index: -1;
    }

    .small-txt {
        font-size: 12px;
    }

    .page-header {
        padding: 10px;
        padding: 1.5em;
        position: fixed;
        height: 70px;
        z-index: 1;
    }


    .page-header nav {
        flex-direction: row;
        position: absolute;
        left: 0;
        padding-left: 1.5em;

    }

    .page-header .logo {
        margin: 0;
        height: fit-content;
        box-sizing: border-box;
    }

    .page-header .logo img, .admin .logo img {
        width: 83px;
        height: 35px;
    }

    .page-header .toggle-mob-menu {
        display: block;
    }

    .admin-menu li {
        list-style: none;
    }

    .page-header .admin-menu li:nth-last-child(2) {
        margin-bottom: 12px;
    }

    .page-header .admin-menu li:last-child button, .search-and-user .admin-profile .greeting {
        display: none;
    }

    .page-content {
        min-height: 0;
        padding: 10px;
    }

    .page-content .grid {
        grid-gap: 10px;
    }

    .admin_main {
        max-width: 95vw;
        background-color: #ffffff;
        padding-top: 4em;
    }

    .admin__profile {
        position: fixed;
        right: 0;
        color: #ffffff;
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        align-content: center;
        align-items: center;
        padding-top: 2em;
        padding-right: 1.5em;
        top: 0;
        z-index: 2;
    }


    .search-and-user [type="search"] {
        font-size: 1rem;
        height: 35px;
    }

    .search-and-user .admin-profile i {
        color: #FFFFFF;
    }

    .vino__id-hover {
        display: none;
    }

    .ajoute-bouteille.btn {
        margin-left: unset;
        width: unset;
    }

    .nom_et_recherche {
        position: sticky;
        position: -webkit-sticky;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        top: 13px;
        z-index: 0;
        background-color: white;
        position: sticky;
        z-index: 0;
        top: 70px;
        padding: 1em 0;
        width: 100%;
        padding: 0.6em 0;
        border-radius: 2px;
        z-index: 1;
    }

    .nom_et_recherche h2 {
        margin: unset;
    }

    .small-txt {
        font-size: 10px;

    }

    .pagination>.small-txt>span {
        font-size: 11px;
        padding: 9px 11px;
        padding: 7px 8px;

    }

    .pagination>li>span {
        padding: 7px 6px;
        font-size: 11px;
    }
}

@media screen and (min-width: 768px) {
    .page-header {
        z-index: 2;
    }

    .admin__profile {

        z-index: 1;
    }

    .nom_et_recherche {

        z-index: 1;
        top: 35px;

    }
}

@media screen and (min-width: 768px) {
    .admin_contenu_page.grid {
        width: 100%;
        margin-left: 3%;
    }

    .u__profile-toggle_admin {
        left: 79vw;
        background-color: #fff;
    }

    .page-header .admin-menu {

        margin-top: 97px;
        transform: none;
    }

    .btn_anule_recherche {

        position: unset;
    }

    .page-header {
        z-index: 2;
    }

    .menu_icon, .toggle__input {
        visibility: hidden;

    }

    .sideBar-ferme {
        /* transform: none; */
        transform: translate(0, 0) !important;
    }

    .page-header .logo {

        TEXT-ALIGN: center;
    }

    .table_admin {
        width: 600px;
    }

    .admin__tabs__content {
        margin-top: 3rem;
        margin-left: 15%;
    }

    .admin__profile {
        position: fixed;
        background: white;
        width: 100%;
        z-index: 1;
    }

    .ajoute-bouteille.btn {
        position: sticky;
        position: -webkit-sticky;
        top: unset;
        z-index: unset;
        width: unset;
        right: unset;
    }

    .nom_et_recherche {
        position: sticky;
        position: -webkit-sticky;
        display: flex;
        align-content: center;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        top: 13px;
        z-index: 1;
        top: 53px;
        gap: 50px;
        background: #ffffff;
        padding-bottom: 1em;
    }

    .nom_et_recherche h2 {
        margin: unset;
    }
}

@media all and (min-width: 1000px) {
    .admin_contenu_page.grid {

        margin-left: unset;
    }

    .table_admin td {
        font-size: 13px;
    }

    .btn_anule_recherche {
        position: unset;
    }
}







.desactive {
    background-color: rgb(167, 142, 142);

}

.txt_msg-supprime, .txt_msg-usg-supprime, .txt_msg-modif {
    color: var(--bg-primaire);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: unset;
}

h3.txt_msg-modif {
    margin-bottom: 1em;
    font-weight: normal;
    line-height: 1.5;
}

p.txt_msg-supprime, p.txt_msg-usg-supprime {
    margin-top: unset;


}

.admin_form__carte {
    background-color: #ffffff;
    padding: 1em 0;
}

.admin_form__modif>.form__label__md {
    display: flex;
    flex-direction: column;
}

.admin_form__modif>.input_file {
    flex-direction: row;
}

.admin_form__modif .form__label__md>input {
    padding: 0.4em;
    background-color: #eeeded;
}

.admin_form__modif .form__label__md>label {
    padding-bottom: 0.2em;
    padding-left: 0;
    padding-right: 0;
}

.admin_form__modif input[type='radio'], .admin_form__modif input[type='checkbox'] {
    width: 10%;
}


.show__modal {
    display: block;
}

.vino__id-hover {
    background: rgba(5, 5, 5, 0.8);
    color: #ffffff;
    margin-right: -100px;
    padding: 5px;
    position: absolute;
    z-index: 1000;
    font-size: 11px;
    right: 0;
}