.admin_container {
    padding: 3em;
}

.admin_sidebar {
    /* background-color: #021b27; */
    min-width: 200px;
    flex-basis: 20%;
    padding: 2em 1em;
    box-shadow: 0 4px 4px -2px rgb(0 0 0 / 50%);
}

.admin_container {
    width: 100%;
    padding: 0 0;
}
.admin_contenu_page.grid{
    padding: unset;
}

/* =====================================            ===================================              ========================================= */

.admin_carte {
    display: flex;
    width: 80%;
    position: relative;
    /* height: 100%; */
    text-decoration: none;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

picture.admin_carte_img {
    height: 10ch;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    /* margin-bottom: 25px; */
    overflow: hidden;
    object-fit: cover;
    background-size: cover;
}

.admin_carte_img img {
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    /* min-height: 20ch; */
}

.admin_carte-titre {
    text-align: center;
    position: absolute;
    z-index: 20;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    padding: 2em 0;
}

.admin_carte-titre h3 {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    margin: unset;
}

hr {
    width: 50px;
    height: 3px;
    margin: 10px auto;
    border: 0;
    background: var(--bg-primaire);
}

.intro {
    margin: 0 auto;
    color: #ffffff;
    font-family: var(--ff-sans-serif);
    font-size: 13px;
    font-style: italic;
    line-height: 18px;
}

/* =====================================            ===================================              ========================================= */

.admin_tab {
    width: 100%;
    color: white;
    overflow: hidden;
}

.admin_tab .admin_tab-label {
    padding: 10px 3px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /* background: var(--bg-doree); */
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    transition-duration: 0.3s;
    border-top: 1px solid;
}

.admin_tab .admin_tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all .35s;
}

.admin_tab .admin_tab-content {
    padding: 1em;
    color: var(--bg-sombre);
    background: #ffffff;
    transition: all .2s;
    left: 0;
    display: none;
    margin-top: 7px;
    /* box-shadow: 0 4px 4px -2px rgb(0 0 0 / 50%); */
    /* border-top: 1px solid var(--txt-medium); */
    transition-duration: 0.3s;
}

.admin_tab .tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: var(--bg-sombre);
    cursor: pointer;
    transition-duration: 0.3s;
}

.admin_tab .tab-close:hover {
    background: var(--bg-primaire);
    transition-duration: 0.3s;
}

.menu-input {
    border: none;
    box-shadow: none;
    transition-duration: 0.3s;
}

.menu-input:checked+.admin_tab-label {
    background: var(--bg-sombre);
    color: #ffffff;
}

.menu-input:checked+.admin_tab-label::after {
    transform: rotate(90deg);
}

.menu-input:checked~.admin_tab-content {
    padding: 1em;
    width: 100%;
    z-index: 1;
    left: 0;
    display: block;
    box-shadow: 0 4px 4px -2px rgb(0 0 0 / 50%);
    transition-duration: 0.3s;
    border-bottom: 1px solid;
}

.admin__main-content {
    padding: 2em 1em;
}

.admin_content-title h2 {
    margin: unset;
}

/* ------------------------=============================--------------------------===========================------------------------------========================== */

.admin__tabs {
    border: 1px solid #cccccc;
    display: flex;
}

.admin__tabs__sidebar {
    width: 125px;
    flex-shrink: 0;
}

.tabs__button {
    /* display: block; */
    /* padding: 10px; */
    /* background-color: #eeeeee; */
    border: none;
    width: 100%;
    color: black;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.tabs__button:active {
    background: var(--bg-primaire-autre);
}

.tabs__button--active {
    background: var(--bg-sombre);
    font-weight: bold;
    border-right: 2px solid var(--bg-primaire);
}

.admin__tabs__content {
    padding: 10px;
    font-size: 0.8rem;
    /* display: none; */
}

.admin__tabs__content--active {
    display: block;
}

.admin__tabs__content> :first-child {
    margin-top: 0;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding-top: 20px;
    width: 220px;
    color: #ffffff;
    background: var(--bg-primaire-autre);
}

.page-header nav {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.page-header .logo {
    display: block;
    margin: 0 15px;
}

#admin_menuToggle {
    width: 30px;
    margin-right: 10px;
    display: block;
    /* left: 20
    px
    ; */
    position: relative;
    /* top: 40
    px
    ; */
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    z-index: 1;
}

.admin #admin_menuToggle {
    top: unset;
    left: unset;
}

#admin_menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

#admin_menuToggle i:hover {
    color: var(--bg-primaire);
}

#admin_menuToggle i {
    
    display: block;
    top: 5px;
    left: 8px;
  
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
    position: absolute;

    z-index: 1;
   
    transition: all 0.3s ease;
}

.page-header .toggle-mob-menu {
    display: none;
    margin-left: 5px;
    padding: 4px;
    background: var(--page-content-blockColor);
    border-radius: var(--border-radius);
}

.page-header .admin-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 35px;
    transform: none;
}

.page-header .admin-menu li:nth-last-child(2) {
    margin-bottom: 35px;
}

.page-header .admin-menu li:last-child {
    margin-top: auto;
    margin-bottom: 20px;
}

.page-header .admin-menu li>* {
    width: 100%;
    /* padding: 12px 15px; */
}

.page-header .admin-menu .switcher {
    display: inline-block;
    width: auto;
}

.page-header .admin-menu .menu-heading h3 {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 12px;
    margin-top: 12px;
    color: var(--page-header-headingColor);
}

.page-header .admin-menu a,.page-header .admin-menu span, .page-header .admin-menu button {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.page-header .admin-menu a:hover, .page-header .admin-menu a:focus, .page-header .admin-menu button:hover, .page-header .admin-menu button:focus {
    background: var(--bg-sombre);
    color: var(--bg-claire);
    outline: none;
}

.page-content {
    position: relative;
    left: var(--page-header-width);
    width: calc(100% - var(--page-header-width));
    min-height: 100vh;
    padding: 30px;
    color: var(--page-content-txtColor);
    background: var(--page-content-bgColor);
}

.toggle__input {
    display: block;
    /* left: 30px; */
    position: relative;
    top: 10px;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    z-index: 1;
}

.admin #admin_menuToggle1 {
    top: unset;
    left: unset;
}

#admin_menuToggle1 a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

.toggle__input {
    display: block;
    width: 24px;
    height: 30px;
    position: relative;
    /* top: 2px; */
    /* left: -8px; */
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#admin_menuToggle1~i {
    display: block;
    width: 33px;
    height: 20px;
    font-size: 18px;
    margin-bottom: 5px;
    position: absolute;
    margin-top: 10px;
    z-index: 1;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#admin_menu1 {
    transform-origin: 0% 0%;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}
/*
.toggle__input~i:nth-child(3) {
    visibility: hidden;
    opacity: 0;
   
}

.toggle__input:checked~i:nth-child(3) {
    opacity: 1;
    visibility: visible;
}

.toggle__input:checked~i:nth-child(2) {
    visibility: hidden;
    opacity: 0;
}

/* 
.toggle__input:checked ~ i:nth-child(1) {
    visibility: hidden;
    opacity: 0;

} 

 .toggle__input:checked~ul {
    visibility: visible;
    opacity: 1;

    transform: none;
    
} */

.toggle__input:checked~ul {}

.admin__tabs__sidebar {
    width: 150px;
    position: absolute;
    left: 0px;
    /* top: 75px; */
    margin-top: 0;
    z-index: 2;
    background: var(--bg-primaire-autre);
    /* visibility: hidden;
    opacity: 0; */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: all 0.2s;
    height: 100%;
    padding: 10px;
}






/* MQ RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (min-width: 426px) {
    #admin_menuToggle {
        display: none;
    }
    .admin-menu.admin__tabs__sidebar {
        visibility: unset;
        opacity: unset;
    }
    .admin__profile {
        display: flex;
        color: var(--bg-primaire-autre);
        right: 0;
        /* color: #ffffff; */
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        align-content: center;
        align-items: center;
        padding: 2em;
    }
    #admin_menuToggle1:hover i {
        color: #e7e6e6;
    }
    .vino__id-hover{
        display: none;
     }
}

@media screen and (max-width: 426px) {}



@media screen and (max-width: 767px) {
    .page-header, .page-content {
        position: static;
        width: 100%;
    }
    .page-header {
        padding: 10px;
        padding: 1.5em;
    }
    .page-header nav {
        flex-direction: row;
    }
    .page-header .logo {
        margin: 0;
    }
    .page-header .logo img, .admin .logo img {
        width: 83px;
        height: 35px;
    }
    .page-header .toggle-mob-menu {
        display: block;
    }
    .admin-menu li {
        list-style: none;
    }
    .page-header .admin-menu li:nth-last-child(2) {
        margin-bottom: 12px;
    }
    .page-header .admin-menu li:last-child button, .search-and-user .admin-profile .greeting {
        display: none;
    }
    .page-content {
        min-height: 0;
        padding: 10px;
    }
    .page-content .grid {
        grid-gap: 10px;
    }
    .admin__profile {
        position: absolute;
        /* background: var(--bg-primaire-autre); */
        right: 0;
        color: #ffffff;
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        align-content: center;
        align-items: center;
        padding-top: 2em;
        padding-right: 1.5em;
        top: 0;
    }
    /* .search-and-user {
        position: absolute;
        right: 20px;
        top: 20px;
        padding: 0;
        grid-column-gap: 5px;
        /* width: calc(100% - 141px); 
        background: transparent;
    } */
    .search-and-user [type="search"] {
        font-size: 1rem;
        height: 35px;
    }
    .search-and-user .admin-profile i {
        color: #FFFFFF;
    }
    .vino__id-hover{
        display: none;
     }
}

.sideBar-ferme {
    /* transform: none; */
    transform: translate(-100%, 0) !important;
}
.desactive{
    background-color: rgb(167, 142, 142);
    
}
.txt_msg-supprime,.txt_msg-usg-supprime, .txt_msg-modif{
    color: var(--bg-primaire);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: unset;
}

h3.txt_msg-modif{
    margin-bottom: 1em;
    font-weight: normal;
    line-height: 1.5;
}
p.txt_msg-supprime, p.txt_msg-usg-supprime{
    height: 20px;
    margin-top: unset;


}

.admin_form__carte{
    background-color: #ffffff;
    padding: 1em 0;
}
.admin_form__modif > .form__label__md{
    display: flex;
    flex-direction: column;
    padding: 0 0.5em;
}

.admin_form__modif .form__label__md>input{
    padding: 0.4em;
    background-color: #eeeded;
}
.admin_form__modif .form__label__md>label{
  padding-bottom: 0.2em;
  padding-left: 0;
  padding-right:0 ;
}
.admin_form__modif input[type='radio'], .admin_form__modif input[type='checkbox']{
    width: 10%;
}
.admin_form__modif fieldset label{
    padding:0.4em;
    /* width: 50%; */
}
.admin_form__modif fieldset {
    justify-content: space-around;
}
.show__modal{
    display: block;
}

.vino__id-hover {
    background: rgba(5, 5, 5, 0.8);
    color: #ffffff;
    margin-right: -100px;
    padding: 5px;
    position: absolute;
    z-index: 1000;
    font-size: 11px;
    right: 0;
}

