* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.flex {
    display: flex;
    justify-content: center;

}

.col {
    flex-direction: column;
}

/* .section__form {
    width: 100%;
    min-height: 50vh;
    padding: 1.5em;
  
} */
.form__image {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form__contenant {
    width: 100%;
    min-height: 58%;
}
.form__contenant h3{
    max-width: fit-content;
    text-align: center;
    justify-content: center;
    /* padding: 0 .25em; */
    padding: 1em .25em 0 .25em;
}

.form__carte {
    align-self: center;
    flex-basis: 8%;
    width: 90vw;
   
}

/* Fond clair */
.form__carte {
    background-color: var(--bg-clair);
    color: var(--bg-primaire-autre);
    border-radius: 5px;
}

.form__modif {
    padding: 0 .25em
}


.form__modif label {
    font-size:  clamp(1rem, -0.875rem + 8.333333vw, 1.5rem);
}
.form__image {
    width: 100%;
    height: auto;
    min-height: 10vh;
    align-self: center;
    border:1px solid  var(--bg-medium);
    padding: 1.25em;
    border-radius: 5px 5px 0 0;
}
.form__image img {
    width: 35%;
    height: 100%;
    object-fit: contain;
    align-self: center;
}


   /* Style des input et label */

input, button {
    margin: var(--vspace) 0; 
    line-height: var(--vspace);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: clamp(1rem, -0.875rem + 8.333333vw, 1.25rem);
}


input:focus {
    outline: none;
}

button, label, input, select {
    display: block;
    font-family: inherit;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
  }



input:not([type='radio'], [type='checkbox'] ) {
       -webkit-appearance: none;
       background-color: transparent;
}

input {
    border: none;
    border-bottom: 1px solid var(--bg-medium);
 
}

label, input {
   padding-left: 1em;
   padding-right: 1em;

}

label {
    font-size: clamp(1rem, -0.875rem + 8.333333vw, 1.5rem);;
    color: var(--txt-medium);
    padding-bottom: .75em; 
}
textarea {
    width: 95%;
    margin: .5rem;
}

/* Recherche et autocomplete */

.form__recherche--clair {
    color: #F4F4F4;
}

.form__recherche {
    align-self: center;
    position: relative;
}

.form__recherche input {
 width: 85vw;
 background: transparent;
 padding-left: 0;
}
.form__recherche ::placeholder {
    color: #f1f1f1;
}

.listeAutoComplete {
    background: #F4F4F4;
    color: var(--bg-primaire-autre);
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}
.form__contenant__liste {
    border-left: 1px solid var(--bg-sombre);
    border-right: 1px solid var(--bg-sombre);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.listeAutoComplete li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid var(--bg-sombre); 
}

.listeAutoComplete li:hover {
    background-color: var(--bg-medium);
    color: #f1f1f1; 
  }

.form__contenant--espacevertical {
padding-top: 5vh;
}


.form__ajouter__label{
    padding-top: 1.25rem;
}

/* Boutons */
button {
    appearance: none;
    border: none;
    background-color: var(--bg-primaire-autre);
    color: #f1f1f1;
    padding: .5em 0;
}

@media (min-width: 850px)  {
    .form__carte {
        width: 40vw;
    }
    .form__contenant {
        min-height: 80vh;
    }
}

/* les labels  flottants */

.form {
  padding: .25em 1.25em;
}

.form__label__aj>input,
.form__label__aj>textarea {
	width: 100%;
	margin: 1em 0;
	border: 0;
	outline: none;
	border-bottom: 1px solid var(--bg-input);
	padding: 0.5em;
	color: black;
	resize: none;
}

/* .form__label__aj:last-of-type>input{
    border: none;
} */

.form > div {
	position: relative;
}

.form div label {
	position: absolute;
	left: 0;
	top: 20px;
	color: var(--bg-sombre);
	pointer-events: none;
	transition: 0.5s;
	font-size: 16px;
}

.form__label__aj>input:focus ~ label,
.form__label__aj>textarea:focus ~ label,
.form__label__aj>input:valid ~ label,
.form__label__aj>textarea:valid ~ label {
	top: 0;
	left: 0;
	color: var(--bg-primaire-autre);
	font-size: 10px;
	font-weight: bold;
}

.form__label__aj>input:focus,
.form__label__aj>textarea:focus,
.form__label__aj>input:valid,
.form__label__aj>textarea:valid {
	border-bottom: 2px solid var(--bg-medium);
}

.nom_bouteille {
    font-size: clamp(.75rem, -0.875rem + 8.333333vw, 1rem);
}
/* enlever le 'YYYY-MM-DD' de l'input date */
input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}

/*CSS pour le select du cellier*/

select {
    background-color: var(--bg-medium);
    color: var(--bg-clair);
    border-radius: 5px;
    padding: 10px;
    width: 20em;
    margin: 10px;
}

.petit {
    font-size: clamp(.75rem, -0.875rem + 8.333333vw, 1rem);
    text-decoration: none;
    text-transform: capitalize;
    color: #f1f1f1;
    text-align: center;
    margin-top: -.5rem;
    margin-bottom: .75rem;
    margin-right: 1.5rem;
}
form.nostyle{
    background-color: unset;
      margin: 0;
      padding: 0;
      width: auto;
      min-width: unset;
      box-shadow: unset;
      border-radius: unset; 
      text-align: unset;
      display: inline-block;
  }
