* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.flex {
    display: flex;
    justify-content: center;

}

.col {
    flex-direction: column;
}

.form__image {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form__contenant {
    width: 100%;
    min-height: 58%;
    margin-bottom: 3em;
}

.form__contenant h3 {
    max-width: fit-content;
    max-width: -moz-fit-content;
    text-align: center;
    justify-content: center;
    padding: 1em .25em 0 .25em;
}

.form__carte {
    align-self: center;
    flex-basis: 8%;
    width: 90vw;

}

/* Fond clair */
.form__carte {
    background-color: var(--bg-clair);
    color: var(--bg-primaire-autre);
    border-radius: 5px;
    padding: 0.2em;
}

.form__modif {
    padding: 0 .25em
}


.form__modif label {
    font-size: clamp(1rem, -0.875rem + 8.333333vw, 1.5rem);
}

.form__image {
    width: 100%;
    height: auto;
    min-height: 10vh;
    align-self: center;
    border: 1px solid var(--bg-medium);
    padding: 1.25em;
    border-radius: 5px 5px 0 0;
}

.form__image img {
    width: 35%;
    height: 100%;
    object-fit: contain;
    align-self: center;
}


/* Style des input et label */

input, button {
    margin: var(--vspace) 0;
    line-height: var(--vspace);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: clamp(1rem, -0.875rem + 8.333333vw, 1.25rem);
}


input:focus {
    outline: none;
}

button, label, input, select {
    display: block;
    font-family: inherit;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}



input:not([type='radio'], .form__nonlistee-check [type='checkbox']) {
    -webkit-appearance: none;
    background-color: transparent;
}

.admin_form__modif .form__nonlistee-check input[type='checkbox'] {
    width: 30%;
}

input {
    border: none;
    border-bottom: 1px solid var(--bg-medium);

}

label, input {
    padding-left: 1em;
    padding-right: 1em;

}

label {
    font-size: clamp(1rem, -0.875rem + 8.333333vw, 1.5rem);
    ;
    color: var(--txt-medium);
    padding-bottom: .75em;
}

textarea {
    width: 95%;
    margin: .5rem;
}

.form__nonlistee-check label {
    padding-bottom: unset;

}

/* Recherche et autocomplete */

.form__recherche--clair {
    color: #F4F4F4;
}

.form__recherche {
    align-self: center;
    position: relative;
    width: 100%;
}

.b__recherche {
    max-width: 85%;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 3px;;
}

.form__recherche input {
    background: var(--bg-clair);
    padding: 0.3em 0;
    padding-left: 1em;
    padding-right: 2em;
    color: black;
}

.form__recherche .iconne {
    position: absolute;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    color: #aaa;
    right: 0;

}


.clearSearchBtn {
    pointer-events: unset;

}

.listeAutoComplete,
.u__profile-toggle, 
.u__profile-toggle_admin {
    background: #F4F4F4;
    color: var(--bg-primaire-autre);
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}
.u__profile-toggle_admin {
    background: unset;

}
.form__contenant__liste {
    border-left: 1px solid var(--bg-sombre);
    border-right: 1px solid var(--bg-sombre);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.listeAutoComplete li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid var(--bg-sombre);
}

.listeAutoComplete li:hover {
    background-color: var(--bg-medium);
    color: #f1f1f1;
}

.form__contenant--espacevertical {
    padding-top: 5vh;
}


.form__ajouter__label {
    padding-top: 1.25rem;
}

/* Boutons */
button {
    appearance: none;
    border: none;
    background-color: var(--bg-primaire-autre);
    color: #f1f1f1;
    padding: .5em 0;
    border-radius: 3px;
}

@media (min-width: 850px) {
    .form__carte {
        width: 40vw;
    }

    .form__contenant {
        min-height: 80vh;
    }
}

/* les labels  flottants */

.form {
    padding: 1em 1.25em;
}

.form__label__aj>input,
.form__label__aj>textarea, .form__label__aj.input_file {
    width: 100%;
    margin: 1em 0;
    border: 0;
    outline: none;
    border-bottom: 1px solid var(--bg-input);
    padding: 0.5em;
    color: black;
    resize: none;
}
.form__label__aj.input_file .image__image {
    

}



.form>div {
    position: relative;
}

.form div label:not(.btn_ajout_image) {
    position: absolute;
    top: 20px;
    color: var(--bg-sombre);
    pointer-events: none;
    transition: 0.5s;
    font-size: 16px;
}

.form__label__aj>input:focus~label,
.form__label__aj>textarea:focus~label,
.form__label__aj>input:valid~label,
.form__label__aj>textarea:valid~label {
    top: 0;
    left: 0;
    color: var(--bg-primaire-autre);
    font-size: 10px;
    font-weight: bold;
}

.form__label__aj>input:focus,
.form__label__aj>textarea:focus,
.form__label__aj>input:valid,
.form__label__aj>textarea:valid {
    border-bottom: 2px solid var(--bg-medium);
}

.nom_bouteille {
    font-size: clamp(.75rem, -0.875rem + 8.333333vw, 1rem);
}

/* enlever le 'YYYY-MM-DD' de l'input date */
input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}

input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}

/*CSS pour le select du cellier*/

select {
    background-color: var(--bg-medium);
    color: var(--bg-clair);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.petit {
    font-size: clamp(.75rem, -0.875rem + 8.333333vw, 1rem);
    text-decoration: none;
    text-transform: capitalize;
    color: #f1f1f1;
    text-align: center;
    margin-top: -.5rem;
    margin-right: 1.5rem;
    width: 50px;
}

form.nostyle {
    background-color: unset;
    margin: 0;
    padding: 0;
    width: auto;
    min-width: unset;
    box-shadow: unset;
    border-radius: unset;
    text-align: unset;
    display: inline-block;
}

.boutons_wrapper{
    margin-top: 10px;
    display: flex;  
    flex-direction: column;
gap: 10px;
}
/* Media queries pour grand ecrans */
@media all and (min-width: 540px) {
    .u__celliers_liste {
        margin-top: -8%;
    }
    .boutons_wrapper{
        display: flex;  
        flex-direction: row-reverse;
    gap: 20px;
    }

    .admin_form__modif, .admin_main .form__contenant  {
        width: 95%;
        max-width: 80vw;
        margin: 0 auto;
    }
}

@media all and (min-width: 735px) {
    .u__celliers_liste {
        margin-top: -10%;
    }
    .admin .form__recherche {
        right: 0;
        
         width: 50%;
       }
       .admin_form__modif, .admin_main .form__contenant  {
        width: 95%;
        max-width: 600px;
        margin: 0 auto;
    }
    
}
@media all and (min-width: 768px) {
  
       .form_ajout_nonlistee, .admin_form__modif, .admin_main .form__contenant  {
        width: 95%;
        max-width: 60vw;
        margin: 0 auto;
    }
    
}
@media all and (min-width: 1120px) {
  
    .form_ajout_nonlistee, .admin_form__modif,  .admin_main .form__contenant {
     width: 95%;
     max-width: 700px;
 }
 
}


.checkbox__wrapper {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-around;
}

.checkbox__wrapper>p {
    margin: 0;
    font-size: 1.3em;
    font-weight: bold;
}

.form_ajout_nonlistee {
    width: 95%;
}
.form_ajout_nonlistee label{
    font-size: unset;
}

.admin_form__modif {
    padding: 0.4em;
}

.form_ajout_nonlistee .form__label__md, .form_ajout_nonlistee .form__nonlistee-check {
    margin: 0.3em 0;
}
.form_ajout_nonlistee .form__nonlistee-check label{
   padding: unset;
}

.form_ajout_nonlistee .form__nonlistee-check input[type="radio"] {
    width: 40%;
}

#image, #imagePerso {
    display: none;
}


.btn_ajout_image {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 4px 11px;
    cursor: pointer;

    width: 20%;
    min-width: 90px;

    text-align: center;
    border: 1px solid var(--txt-medium);
}

#fileUpload {
    display: none;
    /* ne pas afficher le bouton pas defaut "upload image"*/
}

#customButton {
    /* style the fake upload button */
    background: var(--bg-primaire-admin);
    width: 20%;
}
  .form_ajout_nonlistee .form__label__md, .form_ajout_nonlistee .form__nonlistee-check{
      margin: 0.3em 0;
  }

  .image__image {
      margin: 0 0 0px 10px;
      font-size: 16px;
      background-color: var(--bg-medium);
      color: #ffffff;
      border-radius: 2px;
  }
