.cellier {
    width: 100%;
    background: var(--bg-sombre);
}

.gallerie {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 2em;
}

.gallerie.portail {
    align-content: baseline;
}

.carte {
    width: 100%;
    background-color: #ffffff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    flex-basis: calc(100% / 5 - 20px);
    min-width: 230px;
    flex-grow: 0;
    align-self: stretch;
    box-shadow: 0 5px 15px #00000017;
    transition: transform 0.1s linear, box-shadow 0.1s linear;
    border-radius: 5px;
    gap: 10px;
}

.carte.horizontale {
    flex-direction: row;
    justify-content: unset;
    flex-basis: 95vw;
    min-width: unset;
    align-items: center;
}

.carte:hover {
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
}

.carte__tag-top {
    display: block;
    height: 30px;
    text-align: right;
    font-weight: 600;
    position: absolute;
}

.carte.horizontale .carte__tag-top span {
    display: block;
    display: inline-block;
    border-radius: 4px 0 4px 0;
    padding: 5px;
}

.carte__tag-top span {
    display: block;
    display: inline-block;
    border-radius: 0 4px 0 4px;
    padding: 5px;
}

.carte__tag-top .rouge {
    background-color: var(--bg-primaire-autre);
    color: #ffffff;
}

.carte__tag-top .blanc {
    background-color: var(--bg-doree);
    color: var(--bg-sombre);
}

.carte__top {
    display: flex;
    flex-wrap: wrap;
    /* flex-basis: 40%; */
    padding: 0 15px;
    gap: 10px;
    justify-content: space-between;
    flex-direction: column;
}

.carte__top.carte__start {
    flex-direction: row;
    flex-wrap: nowrap;
}

.carte__contenu {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 0 15px;
    padding-bottom: 15px;
}

.carte__image {
    height: 20ch;
    min-height: 15vh;
    border-radius: 4px;

  
}

.carte__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carte__format.absolute {
    left: 10px;
    top: 10px;
}

/* Suppression de bouteille */
.carte__supp {
   padding: unset;
   width: unset;
   background-color: transparent;
   color: var(--bg-primaire);
   align-self: baseline;
}
.carte__description__wrapper {

}

.btnAjouter, .btnBoire {
    padding: 2px 3px;
    border-radius: 2px;
    border: none;
    border: 2px solid transparent;
    font-size: 14px;
    cursor: pointer;
    transition-duration: 0.3s;
}

/* .btnBoire {
    background: var(--bg-primaire);
    color: white;
} */

.btnAjouter, .btnBoire {
    color: var(--bg-primaire);
}

.btnAjouter:hover, .btnBoire:hover {
    /* background: var(--bg-primaire-autre); */
    border-color: var(--bg-primaire-autre);
    border: 2px solid var(--bg-primaire);
    /* color: white; */
    color: var(--bg-primaire-autre);
}

.btnBoire:active {
    /* background: var(--bg-sombre); */
    /* color: white; */
}

.carte__quantite {
    /* display: block;  */
    text-align: center;
    min-width: 50px;
    /* display: block; */
    justify-content: center;
    align-items: center;
    FONT-WEIGHT: 100;
    /* padding: 15px 0; */
}

.carte__quantite.column {
    flex-direction: column;
}

.carte.horizontale .carte__quantite {
    height: 80%;
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.carte__description p {
    margin: unset;
}

.carte__description-nom {
    font-family: var(--ff-serif);
    padding: 5px 0;
    color: var(--txt-medium);
    line-height: 1.3;
    margin: unset;
}

.carte__description-pays {
    font-size: 18px;
    font-weight: 600;
    color: var(--bg-primaire-autre);
}

.carte__prix {
    /* font-size: 20px; */
    color: #293451;
}

.carte__description-prix {
    /* font-size: 16px; */
}

.carte__lien {
    color: var(--bg-primaire);
}

details {
    border-radius: 4px;
    padding: .1em .1em 0;
}

summary {
    color: var(--bg-primaire-autre);
    cursor: pointer;
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .1em;
    border: 1px solid rgb(233, 230, 230);
}

summary:hover {
    color: var(--bg-primaire);
}

details[open] summary {
    /* border-bottom: 1px solid #aaa; */
    color: var(--bg-primaire);
    margin-bottom: .5em;
}


.cellier__information {
    background-color: #FFFFFF;
    width: 95vw;
    border-radius: 3px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cellier__information__icon {
    color: var(--bg-primaire);
    font-size: clamp(1.5rem, -0.875rem + 8.333333vw, 2.5rem);
}

.cellier__information>div>h2 {
    margin: 0;
}

.cellier__information__wrapper p {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

/* Trop down */

.row {
    display: flex;
}

/* Accordion styles */

.tabs {
    border-radius: 2px;
    overflow: hidden;
    /* box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5); */
}

.tab {
    width: 100%;
    color: white;
    overflow: hidden;
}

.tab-label {
    padding: 5px 3px;
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
    /* background: var(--bg-doree); */
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    transition-duration: 0.3s;

}



.tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all .35s;
}

.tab-content {
    max-height: 0;
    padding: 0 1em;
    color: var(--bg-sombre);
    background: #ffffff;
    transition: all .2s;
    border-radius: 0 0 10px 10px;
    left: 0;
    display: none;
    margin-top: 12px;
    box-shadow: 0 4px 4px -2px rgb(0 0 0 / 50%);
    border-top: 1px solid var(--txt-medium);
    transition-duration: 0.3s;

}

.tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: var(--bg-sombre);
    cursor: pointer;
    transition-duration: 0.3s;

}

.tab-close:hover {
    background: var(--bg-primaire);
    transition-duration: 0.3s;

}

.note-input {
    border: none;
    box-shadow: none;
    transition-duration: 0.3s;

}

.note-input:checked+.tab-label {
    background: var(--bg-clair);
}

.note-input:checked+.tab-label::after {
    transform: rotate(90deg);

}

.note-input:checked ~.tab-content {
    max-height: 100vh;
    padding: 1em;
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    display: block;
    transition-duration: 0.3s;

}

@media all and (max-width:460px) {
    .carte__tag-top {
        font-size: .8rem;
        margin-bottom: 2px;
        top: 0;
    }
    .carte__tag-top span {
        padding: 4px;
    }
    .carte__top {
        display: block;
        padding: 0 0;
    }
    .carte {
        min-width: 95vw;
    }
    .carte__description-nom {
        font-size: 1em;
        padding: 0;
    }
    .carte__description-pays {
        font-size: 1em;
        font-weight: 600;
    }
    .btnAjouter, .btnBoire {
        /* border-radius: 50%; */
        padding: 3px 5px;
        font-size: 18px;
    }
    .quantite {
        font-size: 16px;
    }
    .carte__contenu {
        padding: 10px 10px 10px 0;
    }
    .carte__image {
        width: 80px;
        margin-top: 10px;
      
    }
    .carte.horizontale .carte__quantite {
      
        margin-left: -10px;
        justify-content: center;
    }
    .tab-content {
        margin-top: 7px;
    }
}