/********
 * Votre CSS
 ********/


 html, body {
	height: 100%;
	margin: 0;
	/* background-color: #fff; */
	
	font-family: 'Roboto', 'RobotoDraft', sans-serif;
	font-size: 95%;
	
}

/* Ajouté par Félix - scroll pour la description*/

.description {
    overflow-y: scroll;
    height: 17em;
}

.btnCellierModif {
    width: 100%;
}

body
{
  margin-top: 0px;
}

.liste {
    display: block;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: none;
    /*background: #666;*/
    /*color: #03a9f4;*/
    list-style: none;
    margin: 0;
    padding: 0;
}

.liste>div {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
    /*background: #666;*/
    cursor: pointer;
    transition: color 200ms ease-in-out;
    /*background-color: #003777;*/
    background-color: #e85e30;
    color: #FFFFFF;
}




.liste>div:hover {
    color: #000000;
    transition: color 200ms ease-in-out;
}




footer {  
    bottom: 0px;
    width: 100%;
    padding-top: 3px;
    background-color: #FFFFFF;
}

footer p {
    /* display:inline; */
    padding-right: auto;
    font-size: auto;
}



.grid {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2em 0;
    z-index: 0;
}
.grid.portal{
  align-content: baseline;
  padding-top: 120px;
}
.no_padding {
    padding: 0 0;
}
.flex{
    display: flex;
    gap: 10px;
}
.row{
    flex-direction: row;
}

.justify-start{
    justify-content: flex-start;
}
.justify-between{
    justify-content: space-between;
}
.mt-1{
    margin-top: 1em;
}
.mt-3{
    margin-top: 3em;
}
.mt-10{
    margin-top: 10rem;
}

.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.txt-blanc{
    color: #ffffff;
}
.txt-primary{
    color: var(--txt-primary);
}
.center{
 margin-left: auto;
 margin-right: auto;
} 
.w-90{
    width: 90vw;
}
/* -------------ajout par Djaouida ------ */

/* -----------View ajouter Bouteille */

.ajouter {
    width: 50vw;
    margin: 0 auto;
}

li .btn {
    list-style: none;
}

a.btn {
    text-decoration: none;
    display: inline-block;
}

.btn {
    padding: 5px 15px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 3px;
}
.btn-primaire.solid{
    background-color: var(--bg-primaire); 
    color: white;
    border: 2px solid var(--bg-primaire);
  }
.btn-primaire{
    background-color: var(--bg-clair); 
    color: var(--bg-sombre);
    border: 2px solid var(--bg-primaire);
  }

.btn-accent.solid{
    background-color: var(--txt-medium); 
    color: #FFFFFF;
    border: 2px solid var(--txt-medium);
  }

.btn:hover {
    background-color: var(--bg-sombre);
    color: rgb(255, 255, 255);
    border: 2px solid var(--bg-sombre);

}