/********
 * Votre CSS
 ********/


 html, body {
	/* height: 100%; */
	margin: 0;
	/* background-color: #fff; */
	
	font-family: 'Roboto', 'RobotoDraft', sans-serif;
	font-size: 95%;
	
}

body { min-height: 100vh; }

/* Ajouté par Félix - scroll pour la description*/

.description {
    overflow-y: scroll;
    height: 17em;
}

.btnCellierModif {
    width: 100%;
}

body
{
  background-color: var(--bg-sombre);
  margin-top: 0px;
}

.admin_body{
    background-color: var(--bg-clair);

}
.liste {
    display: block;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: none;
    /*background: #666;*/
    /*color: #03a9f4;*/
    list-style: none;
    margin: 0;
    padding: 0;
}

.liste>div {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
    /*background: #666;*/
    cursor: pointer;
    transition: color 200ms ease-in-out;
    /*background-color: #003777;*/
    background-color: #e85e30;
    color: #FFFFFF;
}




.liste>div:hover {
    color: #000000;
    transition: color 200ms ease-in-out;
}




footer {  
    bottom: 0px;
    width: 100%;
    padding-top: 3px;
    background-color: #FFFFFF;
}

footer p {
    /* display:inline; */
    padding-right: auto;
    font-size: auto;
}



.grid {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2em 0;
    z-index: 0;
}
.grid.portal{
  align-content: baseline;
  padding-top: 120px;
}
.no_padding {
    padding: 0 0;
}
.flex{
    display: flex;
    gap: 10px;
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.gap-3{
    gap: 3em;
}
.align-item-center{
    align-items: center;
}
.justify-start{
    justify-content: flex-start;
}
.justify-between{
    justify-content: space-between;
}
.p-1{
    padding: 1em;
}
.m-1{
    margin: 1em;
}
.my-1{
    margin: 1em 0;
}
.mt-10px{
    margin-top: 10px;
}
.mx-1{
    margin: 0 1em;
}
.mt-1{
    margin-top: 1em;
}
.mt-2{
    margin-top: 2em;
}
.pt-2{
    padding-top: 2em;
}
.mt-3{
    margin-top: 3em;
}
.mt-5{
    margin-top: 5em;
}
.mt-9{
    margin-top: 9em;
}
.pt-9{
    padding-top: 9em;
}
.mt-10{
    margin-top: 10rem;
}
.mb-1{
    margin-bottom: 1em;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.txt-blanc{
    color: #ffffff;
}
.txt-primary{
    color: var(--txt-primary);
}
.center{
 margin-left: auto;
 margin-right: auto;
} 
.text-center{
    text-align: center;
}
.w-90{
    width: 90vw;
}
.ml {
    margin-left: 3.5rem;
}
/* -------------ajout par Djaouida ------ */

/* -----------View ajouter Bouteille */

.ajouter {
    width: 50vw;
    margin: 0 auto;
}

li .btn {
    list-style: none;
}

a.btn {
    text-decoration: none;
    display: inline-block;
}

.btn {
    padding: 5px 15px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 3px;
}
.small{
    padding: 0.2em;
    font-weight: 500;
  }
.btn-primaire.solid{
    background-color: var(--bg-primaire); 
    color: white;
    border: 2px solid var(--bg-primaire);
  }
.btn-primaire{
    background-color: var(--bg-clair); 
    color: var(--bg-sombre);
    border: 2px solid var(--bg-primaire);
  }
  .admin.btn-primaire.solid{
    background-color: var(--bg-accent-admin); 
    color: #ffffff;
    border: 1px solid var(--bg-accent-admin);
    font-size: 12px;
  }

.btn-accent.solid{
    background-color: var(--txt-medium); 
    color: #FFFFFF;
    border: 2px solid var(--txt-medium);
  }

.btn:hover {
    background-color: var(--bg-sombre);
    color: rgb(255, 255, 255);
    border: 2px solid var(--bg-sombre);

}

/* Modal */
.modal__wrapper, 
.confirm__modal__wrapper, 
.usager__supprimer__modal__wrapper,
.modal__ajout-wrapper,
.modal__wrapper_ajout-bouteille,
.filtres__modal__wrapper {
    display: none; 
    position: fixed; 
    z-index: 1; 
}
.filtres__modal__wrapper {
    position: absolute;
}
.desactivation__modal__wrapper{
    display: none; 
    position: fixed; 
    z-index: 1;
}
.modal__contenu {
    background-color: #f1f1f1;
    /* margin: 50% auto; */
    border: 1px solid #888;
    width: 80%; 
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    gap: .25rem;
    transition: all .3ms ease;


}
.modal__overlay {
    position: fixed;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.85);
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center
}

.show {
    display: block;
}
.modal__texte {
    margin: .25rem 1.25rem 1.25rem 1.25rem;
}
.modal__buttons {
    flex-wrap: nowrap;
    width: 70%;
    margin: 0 auto;
    padding: 1em;
    transition: all .3ms ease;

}

.btn__danger,
.btn__annuler  {
    background: var(--bg-primaire-autre);
    border: 1px solid var(--bg-primaire-autre);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    min-height: 40px;
    transition: all .3ms ease;
    min-width: 100px;
}

.btn__annuler {
    background-color: #f4f4f4;
    border: 1px solid var(--bg-primaire);
    color: #222;
    transition: all .3ms ease;

}

.btn__danger:hover,
.btn__danger:active {
  background-color: var(--txt-medium);
  background-position: 0 0;
  color: #f1f1f1;
}

.btn__danger:active,
.btn__annuler:active {
  opacity: .5;
}
.btn__annuler:hover,
.btn__annuler:active {
  background-color: var(--txt-medium);
  border: 1px solid var(--txt-medium);
  background-position: 0 0;
  color: #FFFFFF;
}
.fermer i{
transition: all .3ms ease;

}
.modal__texte {
    text-align: center;
    font-size: clamp(1rem, -0.875rem + 8.333333vw, 1.2rem);
}
.fermer {
text-align: right;
font-size: 1.5rem;
padding: .5em 1em 0 0;
transition: transform .3ms ease;
color: var(--bg-sombre);
}

.fermer:hover i{
transform: rotate(25deg);
transition: all .3ms ease;
transition-duration: .3ms;

color: var(--bg-primaire);


}

.btn__icone {
    appearance: none;
    padding: unset;
    background: transparent;
}
@media all and (min-width:768px) {
    .btn__danger,
    .btn__annuler  {
        width: 50%;
    }
 /* .modal__contenu {
    width: 50%; 
 }   */
}

@media (min-width: 768px) {
    .modal__contenu  {
      width: 66.66666666%;
      margin: 9em auto;
    }
  }
  @media (min-width: 992px) {
    .modal__contenu  {
      width: 50%;
      margin: 25% auto;
    }
  }
  @media (min-width: 1200px) {
    .modal__contenu  {
      width: 33.33333%;
      margin: 20% auto;
    }
  }