.light__wrapper {
    background-color: var(--bg-clair);
    min-height: 100vh;
    padding-top: 2.50rem;
}

.profile__wrapper__bg {
    padding: 20px;
}

.profile__wrapper>h1 {
    margin: 0;
}

.profile__wrapper {
    background-color: var(--bg-clair);
    min-width: 90vw;
    border-radius: 5px;
    padding: 20px;
}

.form__connexion {
    padding: 20px;
}

.form__label__connexion {
    margin-bottom: 10px;
}

.form__label__connexion>label {
    padding: 0 0 10px 0;
}

/* Panneau de gestion d'un  usager */
.cellier__information-wrapper {
    display:flex;
    justify-self: left;
}

.u__profile__wrapper {
   background-color: var(--bg-clair);
   color: var(--txt-primary);
   border-radius: 7px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   margin-top: 1.25rem;
}
.u__contenu {
    padding: 1.25em;

}

.u__profile__wrapper {
    width: 80vw;
    height: auto; 
    margin: 0 auto;
}


.u__titre {
    text-transform: none;
    color: #f1f1f1;
    align-self: center;
    font-size: clamp(1.5rem, -0.875rem + 8.333333vw, 2rem);
    margin: unset;
}

.u__titre-m {
    margin: var(--vspace-3) 0 var(--vspace-3) 0;
}
/* ==========--------- Liste de celliers -------------========== */

.u__article {
    display: flex;
    gap: 1.25rem;
    padding: .25em;
    border-block-end: 1px solid var(--bg-primaire-autre);
    align-items: center;
}
.u__article:last-child {
    border-block-end: none;
}
.u__article {
    width: 100%;
    background-position: center;
    background-size: cover;
    margin-right: 1.25rem;
}
.u__celliers_liste {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid var(--bg-sombre);
    margin-top: -11%;
    padding: 1em;
    min-height: 30vh;
}

.u__profile-toggle {
    display: none;
    left: 10rem;
    border: 1px solid #ccc;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.u__profile-toggle_admin {
   top: 55px;
   padding: 1.5em 1em 0.6em 1em;
    background: #1a202e;
    z-index: 100;
}
.u__profile-toggle_admin button {
    background-color: var(--bg-accent-admin);
    font-size: 13px;
}
.show {
    display: flex;
}

.u__user-p,
.u__user-s {
    padding: .75em;  
    text-decoration: none;
    color: inherit;
}
.u__user-p:hover,
.u__user-s:hover,
.u__user-p:active,
.u__user-s:active
 {
    color: #222;
    background-color: #e2e0e0;
}
.u__user {
    display: flex;
    flex-direction: column;
    padding: .75em;   
    background-color: #f1f1f1;
    font-weight: bold;
    border-bottom: 1px solid #333;
}
/* Icone pour usager(initiales) */

/* Image de profile */
.u__img {
  width: 40px;
  height: 40px;
}

.u__img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
  border: 1px solid #f1f1f1;
  padding:.2em
}
.u__profile_img {
    justify-content: center;
}

.fa-cog,
.fa-user-circle {
    margin-right: .25rem;
}

.u__entete {
    width: 100%;
    height: 20vh;
    background-image: url("../img/bg2.jpg");
    background-size: cover; 
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.selectCellier {
    width: calc(85% - 1.25rem);
    color: #222;
    font-size: clamp(.85rem, -0.875rem + 8.333333vw, 1rem);
}
/* ===============--------- Ajout de cellier ----------================= */
.u__ajout {
   background: unset;
   width: 15%;
   background: var(--bg-clair);
   margin-left: 70%;
}
.fa-plus {
    color: var(--bg-primaire-autre);
    font-size: clamp(2rem, -0.875rem + 8.333333vw, 2.75rem);
    border: 1px solid var(--bg-primaire-autre);
    border-radius: 50%;
    padding: .25em;
    margin-left: auto;
}
.fa-plus-reverse {
    color: #f1f1f1;
    border: 1px solid #f1f1f1;
    margin-top: -3.125vh;
    vertical-align: middle;
    margin-left: 58vw;
    background: var(--bg-sombre);  
}
.gauche {
    margin-left: 0;
    font-size: clamp(2rem, -0.875rem + 8.333333vw, 2.75rem);
    padding: .25em;
}
.tag-gauche {
    margin-top: 0;
    margin-left: 0;
    font-size: 1.5rem;
    background: var(--bg-clair);
    color: var(--bg-primaire-autre);
    padding: 0.25em .5em;
}
.nomCellier {
    padding-top: .75em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nomCellier > * {
    align-self: center;
}
form.btn__ajouter_cellier {
    margin-top: 1.25rem;
}
.trait__overlay {
    width: 100%;
    height: 100%;
    border-top: 1px solid var(--bg-sombre);

}
/* ==========--------- Modifier celliers -------------========== */
.c__modif {
    appearance: none;
    background: transparent;
    padding: unset;
    color: var(--txt-primary);
    font-size: clamp(.75rem, -0.875rem + 8.333333vw, 1rem);
}
.x-href,
.x-href:visited {
    color: inherit;
    margin-left: auto;
    font-size: 1.5rem;
    padding-right: 1em;

}
 
/* ==========--------- Supprimer celliers -------------========== */
.c__supp {
    pointer-events: auto;
    font-size: clamp(.75rem, -0.875rem + 8.333333vw, 1rem);
    align-self: center;
}
.msg-supprime {
    padding: 1.25rem 0 0 1.25rem;
}

/* ==========--------- Tri de celliers -----------============== */
.u__cellier-tri {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap:.75em;
    margin-left: 2.25rem;
}

.fas.fa-sort-up {
    margin-top: .6rem;
}


/* ==========--------- Nbre de bouteilles -------------========== */
.b__compte {
    font-size: .75rem;
}
.fas.fa-sort-up,
.fas.fa-sort-down {
    font-size: clamp(1rem, -0.875rem + 8.333333vw, 1.25rem); 
} 


/* ==========----------Tables---------=========== */

.cell__col {
    text-align: left;
    background-color: var(--bg-primaire);
    padding: .25em .7em;
    padding: 5px;
   
}
/* .cell__col-nom {
    padding: 1em;
} */
.caret {
    margin-left: .25em;
}
.cell__actions {
    display: flex;
    justify-content: space-evenly;
    padding: 1.65em 0;
}
#qte {
    max-width: fit-content;
    max-width: -moz-fit-content;
}
#cell_rech {
    border: 1px solid var(--bg-medium);
    border-radius: 3px;
    margin: 1.25rem 0 .5rem 0;
    font-size: inherit;
}
.form__recherche .cell__icon {
    margin-left: unset;
    top: 30%;
    z-index: unset;
}
.actions {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}
/* ==========----------Media queries---------=========== */
@media (min-width: 540px)  {
    .u__profile__wrapper {
        max-width: 50vw;
    } 
    .u__celliers_liste {
        margin-top: -13%;
    }
    .u__ajout {
        width: 17%;
     }
     .u__profile-toggle,.u__profile-toggle_admin {
        left: 65vw;
    }
}
@media (min-width: 768px)  {
    .u__profile__wrapper {
        max-width: 50vw;
    } 
    .u__celliers_liste {
        margin-top: -11%;
    }
}
@media (min-width: 900px)  {
    .u__profile__wrapper {
        max-width: 40vw;
    } 
    .u__ajout {
        width: 15%;
    }
    .u__celliers_liste {
        margin-top: -9%;
    }
    .u__profile-toggle,.u__profile-toggle_admin {
        left: 80vw;
    }
}
@media (min-width: 1024px)  {
    .u__profile__wrapper {
        max-width: 40vw;
    } 
    .u__ajout {
        width: 9%;
    }
    .u__celliers_liste {
        margin-top: -6%;
    }
   .u__titre {
    letter-spacing: .15em;
   }
}