.light__wrapper {
    background-color: var(--bg-clair);
    min-height: 100vh;
    padding-top: 2.50rem;
}

.profile__wrapper__bg {
    padding: 20px;
}

.profile__wrapper>h1 {
    margin: 0;
}

.profile__wrapper {
    background-color: var(--bg-clair);
    min-width: 90vw;
    border-radius: 5px;
    padding: 20px;
}

.form__connexion {
    padding: 20px;
}

.form__label__connexion {
    margin-bottom: 10px;
}

.form__label__connexion>label {
    padding: 0 0 10px 0;
}

/* Panneau de gestion d'un  usager */


.u__profile__wrapper {
   background-color: var(--bg-clair);
   color: var(--txt-primary);
   border-radius: 7px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   margin-top: 1.25rem;
}
.u__contenu {
    padding: 1.25em;

}

.u__profile__wrapper {
    width: 80vw;
    height: auto; 
    margin: 0 auto;
}


.u__titre {
    text-transform: none;
    color: #f1f1f1;
    align-self: center;
    font-size: clamp(1.5rem, -0.875rem + 8.333333vw, 1.75rem);
}

.u__titre-m {
    margin: var(--vspace-3) 0 var(--vspace-3) 0;
}
/* ==========--------- Liste de celliers -------------========== */

.u__article {
    display: flex;
    gap: 1.25rem;
    padding: .25em;
    border-block-end: 1px solid var(--bg-primaire-autre);
    align-items: center;
}
.u__article:last-child {
    border-block-end: none;
}
.u__article {
    width: 100%;
    background-position: center;
    background-size: cover;
    margin-right: 1.25rem;
}
.u__celliers_liste {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid var(--bg-sombre);
    margin-top: -11%;
}

.u__profile-toggle {
    display: none;
    left: 10rem;
    border: 1px solid #ccc;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.show {
    display: flex;
}

.u__user-p,
.u__user-s {
    padding: .75em;  
    text-decoration: none;
    color: inherit;
}
.u__user-p:hover,
.u__user-s:hover,
.u__user-p:active,
.u__user-s:active
 {
    color: #222;
    background-color: #e2e0e0;
}
.u__user {
    display: flex;
    flex-direction: column;
    padding: .75em;   
    background-color: #f1f1f1;
    font-weight: bold;
    border-bottom: 1px solid #333;
}
/* Icone pour usager(initiales) */

/* Image de profile */
.u__img {
  width: 50px;
  height: 50px;
  margin: 1.5rem 1rem 0 0;
  margin-bottom: .5rem;
}
.u__img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
  border: 1px solid #f1f1f1;
  padding:.2em
}
.u__profile_img {
    justify-content: center;
}

.fa-cog,
.fa-user-circle {
    margin-right: .25rem;
}

.u__entete {
    width: 100%;
    height: 40vh;
    background-image: url("../img/bg2.jpg");
    background-size: cover; 
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.selectCellier {
    width: calc(85% - 1.25rem);
    color: #222;
    font-size: clamp(.75rem, -0.875rem + 8.333333vw, 1rem);
}
/* ===============--------- Ajout de cellier ----------================= */
.u__ajout {
   background: unset;
   width: 15%;
   background: var(--bg-clair);
   margin-left: 70%;
}
.fa-plus {
    color: var(--bg-primaire-autre);
    font-size: clamp(2rem, -0.875rem + 8.333333vw, 2.75rem);
    border: 1px solid var(--bg-primaire-autre);
    border-radius: 50%;
    padding: .25em;
    margin-left: auto;
}
.fa-plus-reverse {
    color: #f1f1f1;
    border: 1px solid #f1f1f1;
    margin-top: -3.125vh;
    vertical-align: middle;
    margin-left: 65vw;
    background: var(--bg-sombre);
   
}
form.btn__ajouter_cellier {
    margin-top: 1.25rem;
}
/* ==========--------- Modifier celliers -------------========== */
.c__modif {
    appearance: none;
    background: transparent;
    padding: unset;
    color: var(--txt-primary);
    font-size: clamp(.75rem, -0.875rem + 8.333333vw, 1rem);
}

/* ==========--------- Supprimer celliers -------------========== */
.c__supp {
    pointer-events: auto;
    font-size: clamp(.75rem, -0.875rem + 8.333333vw, 1rem);
    align-self: center;
}
.msg-supprime {
    padding: 1.25rem 0 0 1.25rem;
}
/* ==========--------- Nbre de bouteilles -------------========== */
.b__compte {
    font-size: .75rem;
}

