@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

.light__wrapper {
    background-color: var(--bg-clair);
    min-height: 88vh;
    padding-top: 2.50rem;
}

.profile__wrapper__bg {
    padding: 20px;
}

.profile__wrapper>h1 {
    margin: 0;
}

.profile__wrapper {
    background-color: var(--bg-clair);
    min-width: 90vw;
    border-radius: 5px;
    padding: 20px;
}

.form__connexion {
    padding: 20px;
}

.form__label__connexion {
    margin-bottom: 10px;
}

.form__label__connexion>label {
    padding: 0 0 10px 0;
}

/* Panneau de gestion d'un  usager */
.cellier__information-wrapper {
    display: flex;
    justify-self: left;
    /* margin: 1em 0; */
    margin-top: 0;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.u__profile__wrapper {
    background-color: var(--bg-clair);
    color: var(--txt-primary);
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 1.25rem;
}

.u__contenu {
    padding: 1.25em;

}

.u__profile__wrapper {
    width: 80vw;
    max-width: 600px;
    min-width: 330px;
    margin-left: auto;
    margin-right: auto;
}


.u__titre {
    text-transform: none;
    color: #f1f1f1;
    align-self: center;
    font-size: clamp(1.5rem, -0.875rem + 8.333333vw, 2rem);
    margin: unset;
}

.u__titre-m {
    margin: var(--vspace-3) 0 var(--vspace-3) 0;
}

/* ==========--------- Liste de celliers -------------========== */

.u__article {
    display: flex;
    gap: 1.25rem;
    padding: .25em;
    border-block-end: 1px solid var(--bg-primaire-autre);
    align-items: center;
}

.u__article:last-child {
    border-block-end: none;
}

.u__article {
    width: 100%;
    background-position: center;
    background-size: cover;
    margin-right: 1.25rem;
}

.u__celliers_liste {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid var(--bg-sombre);
    margin-top: -11%;
    padding: 2em 1em;
    min-height: 30vh;
}

.u__profile-toggle {
    display: none;
    left: 10rem;
    border: 1px solid #ccc;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.u__profile-toggle_admin {
    top: 55px;
    padding: 1.5em 1em 0.6em 1em;
    background: #1a202e;
    z-index: 100;
    border-radius: 3px;
}

.u__profile-toggle_admin button {
    background-color: var(--bg-accent-admin);
    font-size: 13px;
}

.show {
    display: flex;
}

.u__user-p,
.u__user-s {
    padding: .75em;
    text-decoration: none;
    color: inherit;
}

.u__user-p:hover,
.u__user-s:hover,
.u__user-p:active,
.u__user-s:active {
    color: #222;
    background-color: #e2e0e0;
}

.u__user {
    display: flex;
    flex-direction: column;
    padding: .75em;
    background-color: #f1f1f1;
    font-weight: bold;
    border-bottom: 1px solid #333;
}

/* Icone pour usager(initiales) */

/* Image de profile */
.u__img {
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.u__img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
    border: 1px solid #f1f1f1;
    padding: .2em;
    cursor: pointer;
    transition: all .3ms ease-in-out;
}
.u__img img:hover{
    border: 2px solid #beb5b5;
   
}

.u__profile_img {
    justify-content: center;
}

.fa-cog,
.fa-user-circle {
    margin-right: .25rem;
}

.u__entete {
    width: 100%;
    height: 20vh;
    background-image: url("../img/bg2.jpg");
    background-size: cover;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.selectCellier {
    width: calc(85% - 1.25rem);
    color: #222;
    font-size: clamp(.85rem, -0.875rem + 8.333333vw, 1rem);
}

/* ===============--------- Ajout de cellier ----------================= */
.u__ajout {
    background: unset;
    width: 15%;
    background: var(--bg-clair);
    margin-left: 70%;
}

.fa-plus {
    color: var(--bg-primaire-autre);
    font-size: clamp(2rem, -0.875rem + 8.333333vw, 2.75rem);
    border: 1px solid var(--bg-primaire-autre);
    border-radius: 50%;
    padding: .25em;
    margin-left: auto;
    transition: all .3s ease-in-out;
}
.fa-plus:hover{
    color: #f1f1f1;
    border: 1px solid #f1f1f1;
    background: var(--bg-sombre);

}

.fa-plus-reverse {
    color: #f1f1f1;
    border: 1px solid #f1f1f1;
    margin-top: -3.125vh;
    vertical-align: middle;
    margin-left: 58vw;
    background: var(--bg-sombre);
}
.cellier__page-top .fa-plus-reverse{
    margin-left: unset;
}

.fa-plus-reverse:hover{
    color: var(--bg-primaire-autre);
    background: var(--bg-clair);
    border: 1px solid var(--bg-primaire-autre);
}
.fa-plus-reverse.gauche{
    border-radius: 3px;

}
.gauche {
    margin-left: 0;
    font-size: clamp(2rem, -0.875rem + 8.333333vw, 2.75rem);
    padding: .25em;
    transition: all .3s ease-in-out;
}

.tag-gauche,
.tag-droite {
    margin-top: 0;
    margin-left: 0;
    font-size: 1.5rem;
    background: var(--bg-clair);
    color: var(--bg-primaire-autre);
    padding: 0.25em .2em;
    border-radius: 3px;
    font-size: 1rem;
}

.tag-droite {
    font-size: 1rem;
    margin-right: 1rem;
}
.nomCellier>h3{
    margin: unset;
}
.nomCellier .ml{
    margin-left: unset;

}
.nomCellier {
    padding-top: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nomCellier>* {
    align-self: center;
}

form.btn__ajouter_cellier {
    margin-top: 1.25rem;
}

.trait__overlay {
    width: 100%;
    height: 100%;
    border-top: 1px solid var(--bg-sombre);

}

/* ==========--------- Modifier celliers -------------========== */
.c__modif {
    appearance: none;
    background: transparent;
    padding: unset;
    color: var(--txt-primary);
    font-size: clamp(.75rem, -0.875rem + 8.333333vw, 1rem);
}

.x-href,
.x-href:visited {
    color: inherit;
    margin-left: auto;
    font-size: 1.5rem;
    padding-right: 1em;

}

/* ==========--------- Supprimer celliers -------------========== */
.c__supp {
    pointer-events: auto;
    font-size: clamp(.75rem, -0.875rem + 8.333333vw, 1rem);
    align-self: center;
}

.msg-supprime {
    padding: 1.25rem 0 0 1.25rem;
}

/* ==========--------- Tri de celliers -----------============== */
.u__cellier-tri {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: .75em;
    margin-left: 2.25rem;
}

.fas.fa-sort-up {
    margin-top: .6rem;
}


/* ==========--------- Nbre de bouteilles -------------========== */
.b__compte {
    font-size: .75rem;
}

.fas.fa-sort-up,
.fas.fa-sort-down {
    font-size: clamp(1rem, -0.875rem + 8.333333vw, 1.25rem);
}


/* ==========----------Tables---------=========== */

.cell__col,
.cell__col.th-tri-asc,
.cell__col.th-tri-desc {
    text-align: left;
    background-color: var(--bg-primaire);
    padding: .25em .7em;
    padding: 5px;
}

.cell__col.th-tri-desc::after {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    font-weight: 900;
}

.cell__col.th-tri-asc::after {
    content: "\f0d8";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    font-weight: 900;
}

.caret {
    margin-left: .25em;
}

.cell__actions {
    display: flex;
    justify-content: space-evenly;
    padding: 1.65em 0;
}

#qte {
    max-width: fit-content;
    max-width: -moz-fit-content;
}

#cell_rech {
    border: 1px solid var(--bg-medium);
    border-radius: 3px;
    margin: 1.25rem 0 .5rem 0;
    font-size: inherit;
    background: #fff;
}


.form__recherche .cell__icon {
    margin-left: unset;
    top: 30%;
    z-index: unset;
}
.form__recherche--b input {
 color: whitesmoke;
 border: none;
 font-family: var(--ff-sans-serif);
 height: 100%;
}


.actions {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

/* ==========----------Filtres/Bouteilles---------=========== */
.filtres__wrapper {
    position: relative;
    width: 100vw;
}

.filtres,
.entete__filtres {
  
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    
}
.filtres a{
    padding: .3em;
    width: 70px;
}

.entete__filtres {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}


hr.separe {
    height: 1px;
    border-bottom: 1px solid white;
    width: 100%;
    margin: 0;
    padding: 0;
}

.open,
.entete__filtres>a {
    padding: .5em 1em;
    display: block;
    width: fit-content;
    width: -moz-fit-content;
    margin-right: 0;
    font-size: clamp(.85rem, -0.875rem + 8.333333vw, 1rem);
}

.filtres .fa-angle-down {
    margin-left: .5rem;
}

.filtres__modal__wrapper {
    top: 100%;
}

.modal__filtre {
    background: #f1f1f1;
    border: 1px solid #888;
    width: 100%;
    border-radius: 5px;
    transition: all .3ms ease-in-out;
    padding: 0.5em 1em 1.85em 1.5em;
    position: absolute;
    bottom: 0;
}

.clair {
    background: rgba(0, 0, 0, 0.35);
}

.btn-filtre {
    display: inline-block;
    width: fit-content;
    width: -moz-fit-content;
    padding: .5em 1em;
    background: #ccc;
    color: var(--bg-primaire-autre);
    border-radius: 3px;
    font-size: inherit;
}

.btn-filtre-fermer {
    position: relative;
    background: transparent;
}

.btn-filtre-effacer {
    background: transparent;
}

.btn-filtre-fermer,
.btn-filtre-effacer {
    display: inline-block;
}

.btn-ctrl {
    margin-top: 10%;
    display: flex;
    justify-content: flex-end;
}

input.mill {
    display: inline-block;
    max-width: 10ch;
    margin-left: .25rem;

}

.cache {
    display: none;
}

.sel-pa {
    max-width: 72%;
    margin-block-start: .25rem;
}

.clr {
    align-self: flex-end;
}

.pays {
    display: flex;
    flex-wrap: wrap;
    gap: .25rem;
}

.effacer {
    display: none;
}

.show_button {
    display: block;
    padding: .5em 1em;
    width: fit-content;
    width: -moz-fit-content;
    margin-right: 0;
    font-size: clamp(.85rem, -0.875rem + 8.333333vw, 1rem);
}

/* ==========----------Media queries---------=========== */
@media (max-width: 540px) {
    

}
@media (min-width: 540px) {
    .u__profile__wrapper {
        max-width: 50vw;
        margin-left: auto;
        margin-right: auto;
    }
   
    .u__celliers_liste {
        margin-top: -12%;
    }

    .u__ajout {
        width: 12%;
    }

   
    .modal__filtre {
        background: #f1f1f1;
        width: unset;
        bottom: unset;
        right: 6em;
        top: 18%;

    }
    .nomCellier>h3 {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    .u__profile__wrapper {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .u__celliers_liste {
        margin-top: -9%;
    }

    .modal__filtre {
        background: #f1f1f1;
        width: unset;
        bottom: unset;
        right: 6em;
        top: 18%;

    }

    .filtres__modal__wrapper .btn-ctrl {
        margin-top: unset;

    }
    .nomCellier>h3 {
        font-size: 2.5rem;
    }
}

@media (min-width: 900px) {
    .u__profile__wrapper {
        max-width: 40vw;
    }

    .u__ajout {
        width: 16%;
    }

    .u__celliers_liste {
        margin-top: -11%;
    }

    .u__profile-toggle, .u__profile-toggle_admin {
        left: 80vw;
    }
    .tag-gauche{
        margin-top: 0.5em; 
         margin-left: unset;
        font-size: 3.5rem;
        background: transparent;
        color: #ffffff;
        padding: 0.25em 1.5em;
        text-align: center;
    
        }
}

@media (min-width: 1024px) {
    .u__profile__wrapper {
        max-width: 40vw;
    }

    .u__ajout {
        width: 9%;   
         width: 14%;
    }

    .u__celliers_liste {
        margin-top: -10%;
    }

    .u__titre {
        letter-spacing: .15em;
    }
   
    .cellier__information-wrapper {
        
        justify-content: center;
    }
}

