
table {
    width: 100%;
    padding-top: 30px;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
    table td {
      border-bottom: 1px solid #9faeb9;
      padding: 5px 6px;
      /* max-width: fit-content; */
      text-align: left;
      font-size: 12px;
    }
    
    table tr{
      background-color: #fefefe;
    }
    table tr:nth-child(even){background-color: #f4f7fc;}
    
    table tr:hover {background-color: rgb(236, 233, 233);}
    
    table th,
    table th a {
      padding: 10px 4px;
      text-align: center;
      background-color:#07364d;
      color: #FFFFFF;
      border-right: 1px solid #8f9da8;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      
    }
  
    table th a:hover {
     
      background-color:rgb(3, 3, 75,0.9);
      color: #ece9e9;
    }

    td.actions{
      text-align: center;
      
      justify-content: center;
      gap: 5px;
      }
     td.actions .edit, td.actions .trash {
      display: inline-flex;
      gap: 5px;
      text-align: center;
      font-size: 16px;
      text-decoration: none;
      color: #FFFFFF;
      padding: 7px 10px;
      border-radius: 2px;
      border: none;
      cursor: pointer;
      width: auto;
      margin: 2px auto;
    }
    /* td.actions{
      display: flex;
    } */
    td.actions .trash {
      background-color: #d33131;
    }
     td.actions .trash:hover {
      background-color: #8b2929;
    }
     td.actions .edit {
      background-color: #21b175;
    }
    td.actions .edit:hover {
      background-color: #148346;
    }


    
    .switch {
      position: relative;
      display: inline-block;
      width: 43px;
      height: 18px;
    }
    
    td.admin-change .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    td.admin-change .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #b6b6b6;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    td.admin-change .slider:before {
      position: absolute;
      content: "";
      height: 15px;
      width: 15px;
      left: 1px;
      bottom: 1px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    td.admin-change input:checked + .slider {
      background-color: var(--bg-primaire);
    }
    
    td.admin-change  input:focus + .slider {
      box-shadow: 0 0 1px var(--bg-primaire);
    }
    
    td.admin-change input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    /* Rounded sliders */
    td.admin-change .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }

    .table_triable th {
      cursor: pointer;
    }
    
    .table_triable .th-tri-asc::after {
      content: "\25b4";
    }
    
    .table_triable .th-tri-desc::after {
      content: "\25be";
    }
    
    .table_triable .th-tri-asc::after,
    .table_triable .th-tri-desc::after {
      margin-left: 5px;
    }
    
    .table_triable .th-tri-asc,
    .table_triable .th-tri-desc {
      background: rgba(0, 0, 0, 0.1);
    }
    